body{
    display: grid;
    grid-template-areas: "cabeca cabeca" "braco corpo" "peh peh";
    grid-template-rows: 200px auto 100px;
    grid-template-columns: 1fr 4fr;
}
header{
    grid-area: cabeca;
    background-color: rgb(150, 104, 5);
}
aside{
    grid-area: braco;
    background-color: rgb(236, 140, 29);
}
main{
    grid-area: corpo;
    background-color: rgb(240, 212, 90);
}
footer{
    grid-area: peh;
    background-color: rgb(255, 194, 101);
}
@MEDIA only screen and (max-width:850px){
    body{
        display: grid;
        grid-template-areas: "cabeca" "braco" "corpo" "peh";
        grid-template-rows:200px 100px auto 200px;
        grid-template-columns: auto;
    }
    .letra{color: chartreuse;
    background-color: aquamarine;
    }
}
@media only screen and (max-width:450px){
    body{
        display: grid;
        grid-template-areas:"cabeca" "corpo" "peh";
        grid-template-rows: 100px auto 100px;
        grid-template-columns: auto;
    }
    aside{
        display: none;
    }
}
.card{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border: red 2px solid;
    background-color: aliceblue;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}
.cappucino{
    width: 75px;
    
}
.descricao{
    color: chocolate;
    font-size: x-large;
}
.preco{
    color: rgb(0, 0, 0);
    font-size: x-large;
}
.botao{ 
    font-size: large;
    background-color: cadetblue;
    width: 50%;
    text-decoration: none;
    height: 35px;
    border-radius: 20px;
}
.letra_botao{
 display: block;
 text-align: center;
 text-decoration: none;
 color: antiquewhite; 
}
.mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}